.carousel-item{
  height: 200px;
  width: 200px;
} 
.carousel-item img{
  height: 200px;
  width:200px;
}
#background{
  background-image: url("https://i.stack.imgur.com/Q33C1.gif");
  zoom: 60%; 
  -moz-transform: scale(0.60); 
  -moz-transform-origin: 0 0;
}
.font1{
  font-family: "Bangers", "cursive";
}
.font2{
  font-size: 25px;
  font-family: "Bangers", "cursive";
}
.trophy-closet{
  background-image: url("https://www.livbc.com/uploads/2/3/6/2/23627006/2170530_orig.png");
  height: 100vh;
}
.funko-image{
  height: 250px;
  width: 250px;
  z-index: -3;
}
.trophy-row{
  height: 200px;
}
.headBtn,
.bodyBtn,
.legsBtn,
.btn-danger,
.matchBtn,
.nav-link,
.navbar-brand{
  z-index: 10;
  position: relative;
}
.state{
  color: #c04c0e;
  background-color: #e2b90e;
}
.blinking{
  animation:blinkingText 6s infinite;
}
@keyframes blinkingText{
  0%{     color:transparent; }
  49%{    color:red; text-shadow: 2px 2px 8px rgb(241, 234, 234); }
  50%{    color: transparent; }
  99%{    color:red;  }
  100%{   color:red;text-shadow: 2px 2px 8px rgb(241, 234, 234); }
}

#confetti {
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}
.avatar {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  /* margin-left: 10px; */
  margin-right: 5px;

}